<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MODE_Construction" value="false" />
    <add key="Current_Environment" value="local" />
    <!--local (=>LOCAL_TEST_DataConnectionString), test (=>TEST_DataConnectionString), prod (=>PROD_DataConnectionString)-->
    <add key="MODE_Admin" value="false" />
    <add key="Target_Mail" value="inethelpdesk@isb.rlp.de" />
    <add key="AD_Group_SBA_PROD" value="P.ABT.BIA_Tool_SBA_User_PROD" />
    <add key="AD_Group_Normal_PROD" value="P.ABT.BIA_Tool_Normal_User_PROD" />
    <add key="AD_Group_SBA_PROD" value="P.ABT.BIA_Tool_CISO_PROD" />
    <add key="AD_Group_Normal_PROD" value="P.ABT.BIA_Tool_Admin_PROD" />
    <add key="AD_Group_SBA_TEST" value="P.ABT.BIA_Tool_SBA_User_TEST" />
    <add key="AD_Group_Normal_TEST" value="P.ABT.BIA_Tool_Normal_User_TEST" />
    <add key="AD_Group_SBA_TEST" value="P.ABT.BIA_Tool_CISO_TEST" />
    <add key="AD_Group_Normal_TEST" value="P.ABT.BIA_Tool_Admin_TEST" />
  </appSettings>
  <connectionStrings>
    <add name="LOCAL_TEST_DataConnectionString" connectionString="metadata=res://*/LinqEntityContext.MyEntityContext.csdl|res://*/LinqEntityContext.MyEntityContext.ssdl|res://*/LinqEntityContext.MyEntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Captain\Documents\Data.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PROD_DataConnectionString" connectionString="metadata=res://*/LinqEntityContext.MyEntityContext.csdl|res://*/LinqEntityContext.MyEntityContext.ssdl|res://*/LinqEntityContext.MyEntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Captain\Documents\Data.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TEST_DataConnectionString" connectionString="metadata=res://*/LinqEntityContext.MyEntityContext.csdl|res://*/LinqEntityContext.MyEntityContext.ssdl|res://*/LinqEntityContext.MyEntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Captain\Documents\Data.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>