<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MODE_Construction" value="false" />
    <add key="Current_Environment" value="local" />
    <!--local (=>LOCAL_TEST_DataConnectionString), test (=>TEST_DataConnectionString), prod (=>PROD_DataConnectionString)-->
    <add key="MODE_Admin" value="false" />
    <add key="Target_Mail" value="inethelpdesk@isb.rlp.de" />
    <add key="AD_Group_CISO_PROD" value="P.ABT.BIA_Tool_CISO_PROD" />
    <add key="AD_Group_Normal_PROD" value="P.ABT.BIA_Tool_Normal_User_PROD" />
    <add key="AD_Group_SBA_PROD" value="P.ABT.BIA_Tool_SBA_User_PROD" />
    <add key="AD_Group_Admin_PROD" value="P.ABT.BIA_Tool_Admin_PROD" />
    <add key="AD_Group_CISO_TEST" value="P.ABT.BIA_Tool_CISO_TEST" />
    <add key="AD_Group_Normal_TEST" value="P.ABT.BIA_Tool_Normal_User_TEST" />
    <add key="AD_Group_SBA_TEST" value="P.ABT.BIA_Tool_SBA_User_TEST" />
    <add key="AD_Group_Admin_TEST" value="P.ABT.BIA_Tool_Admin_TEST" />
  </appSettings>
  <connectionStrings>
    <add name="LOCAL_TEST_DataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Captain\Documents\Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="PROD_DataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Captain\Documents\Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="TEST_DataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Captain\Documents\Data.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>